<div class="container">
    <div class="row text">
        <h2><span class="text-highlighted" data-bind="text: title"></span> list!</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Creation</th>
                    <th>Last Update</th>
                    <th>Exclusion</th>
                    <th>Conclusion</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: taskList">
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: description"></td>
                    <td data-bind="text: creation"></td>
                    <td data-bind="text: lastUpdate"></td>
                    <td data-bind="text: exclusion"></td>
                    <td data-bind="text: conclusion"></td>
                    <td data-bind="text: statusMessage"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <!-- ko ifnot: isCancelled -->
                            <button type="button" class="btn btn-default btn-xs" data-bind="click: $parent.selectToEdit.bind($data)">Edit</button>
                            <button type="button" class="btn btn-default btn-xs" data-bind="click: $parent.cancelTask.bind($data)">Cancel</button>
                            <button type="button" class="btn btn-default btn-xs" data-bind="text: actionMessage, click: $parent.changeStatus.bind($data)"></button>
                            <!-- /ko -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>