<div class="container">
    <div class="row text">
        <h2><span class="text-highlighted" data-bind="text: title"></span> list!</h2>
    </div>
    <p><span class="glyphicon glyphicon-question-sign" data-bind="bootstrapPopover : {content: 'Click in the title to edit or in the status to change it.', container: 'body', placement: 'top', trigger: 'hover click', delay: 150}"></span></p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Creation</th>
                    <th>Last Update</th>
                    <th>Exclusion</th>
                    <th>Conclusion</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: taskList">
                <tr>
                    <td data-bind="text: title, click: $parent.selectToEdit.bind($data)"></td>
                    <td data-bind="text: description"></td>
                    <td data-bind="text: creation"></td>
                    <td data-bind="text: lastUpdate"></td>
                    <td data-bind="text: exclusion"></td>
                    <td data-bind="text: conclusion"></td>
                    <td data-bind="text: statusMessage, click: $parent.changeStatus.bind($data)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>